<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Black & White</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <img src="/img/logo-bnw.png" alt="logo-bnw" />

    <p>
      Convertimos tu Imagen de Colores a Blanco y Negro! <br />
      Ingresa el Link de tu imagen y dale click a convertir a B&W
    </p>

    <form action="/upload">
      <div>
        <label for="img">URL de tu Imagen:</label>
        <input
          type="text"
          id="img"
          name="img"
          placeholder="https://placedog.net/500/300"
        />
      </div>
      <button type="submit">Convertir a B&W</button>
    </form>
  </body>
</html>
